.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  min-height: 100vh;
}

.description p {
  position: relative;
  padding: 0.4rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: 10px;
}

@media (min-width: 768px) {
  .main {
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .main {
    max-width: 1200px;
    margin: 0 auto;
  }

  .game-tile {
    width: calc(50% - 20px);
  }
}

@media (min-width: 1440px) {
  .game-tile {
    width: calc(25% - 20px);
  }
}


